<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/icon/favicon1.png">
    <link href="/public/css/global.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ca1b2bc88.js" crossorigin="anonymous"></script>
    <link href="/public/view/usuario/styles.css" rel="stylesheet">
    <script src="/public/view/usuario/index.js"></script>
    <title>Usuario</title>
</head>
<body>
	<script>
		window.addEventListener('load', function() {
			checkUsuario()
		});
	</script>
	<label class="title">Deletar Usuario</label>
	<br>
	<label class="message_alert" id="messageAlert"></label>
	<br>
	<form id="deletar">
		<input type="hidden" id="id" name="id">
		<label>Nome</label>
		<br>
		<input class="input" id="nome" disabled>
		<br>
		<input class='button deletar' type="submit" value="Deletar">
	</form>
	<br>
    <label class="title"><a href="/usuario"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></label>
	<script>
        window.addEventListener('load', function() {
			loadUsuario()        
		});
    </script>
</body>
</html>